%div
  %h3 Thank you!
  %p Your registration and payment have been accepted and a confirmation email/receipt will be sent to you shortly.
  %p If you have any questions or need further help, please contact Chris Didyk at cdidyk@gmail.com or (727) 453-2490.
  %p Enjoy the Festival!

  %h3 Registration Info
  %ul
    %li
      Name:
      = registration.name
    %li
      Email:
      = registration.email
    %li
      Phone:
      = registration.phone

  %h4 Courses
  %ul
    - registration.courses.each do |course|
      %li= course

  %h4 Amount Charged
  %p= display_money(registration.amount_paid)

  %div
    %p
      %a{ href: "/courses" } Register another participant
    %p
      %a{ href: "http://shaolinstpete.com" } Return to the main Shaolin Wahnam St. Pete web site