%section#content.container.clearfix
  %h2.page-description.align-center Thank you!
  %p Your registration and payment have been accepted and a confirmation email/receipt will be sent to you shortly. If you have any questions or need further help, please contact Chris Didyk at cdidyk@gmail.com or (727) 453-2490. Enjoy the Festival!

  %hr

  .one-third
    %h3 Registrant
    %ul.confirmation
      %li
        %strong Name:
        &= registration.name
      %li
        %strong Email:
        &= registration.email
      %li
        %strong Phone:
        &= registration.phone

  .one-third
    %h3 Courses
    %ul{ style: "list-style: dash;" }
      - registration.courses.each do |course|
        %li{ style: "margin-left: 17px;" }&= course

  .one-third.last
    %h3 Amount Charged
    %p&= display_money registration.amount_paid

  %hr

  %p
    %a{ href: "/courses" } Register another participant